@import '../../../assets/styles/main';

.button-tooltip {
	.ant-tooltip-inner {
		text-align: center;
	}
}

.Button {
	@include font(1rem, 700);
	min-width: 100px;
	padding: 10px 16px;
	display: inline-block;
	color: white;
	background-color: white;
	border-radius: $border-radius;
	cursor: pointer;
	transition: 300ms;

	&.flex {
		@include flex(center, center);
	}

	&.block {
		display: block;
		width: 100%;
	}

	&.loading {
		opacity: 0.8;
		pointer-events: none;
	}

	&.disabled {
		opacity: 0.5;
		background-color: $color-dark-gray !important;
		border: 0 !important;
		box-shadow: none !important;
		cursor: default;
	}

	&.default {
		color: #23252e;
		border: 1px solid;
	}

	&.primary {
		background-color: $color-primary;
		border: 1px solid $color-primary;
		box-shadow: 0px 5px 20px 3px $color-primary-05;

		&:hover {
			transition: 300ms;
			box-shadow: 0px 5px 20px 3px $color-primary-08;
		}
	}

	&.secondary {
		background-color: $color-secondary;
		border: 1px solid $color-secondary;
		box-shadow: 0px 5px 20px 3px $color-secondary-05;

		&:hover {
			transition: 300ms;
			box-shadow: 0px 5px 20px 3px $color-secondary-08;
		}
	}

	.icon-left {
		margin-right: 5px;
	}

	.icon-right {
		margin-left: 5px;
	}

	.spinner {
		line-height: 100%;
	}
}
