.ant-radio-inner {
	width: 20px;
	height: 20px;

	&::after {
		width: 12px;
		height: 12px;
	}
}

.ant-checkbox-inner {
	width: 20px;
	height: 20px;

	&::after {
		width: 8px;
		height: 12px;
	}
}
.ant-radio,
.ant-checkbox {
	font-size: 20px;
}
