@import '../../../assets/styles/variables';
@import '../../../assets/styles/mixins';

.FieldError {
	@include flex($align-items: center);
	margin-top: 8px;
	margin-bottom: 5px;

	&__spaceTop {
		margin-top: 8px;
	}

	&__spaceBottom {
		margin-bottom: 8px;
	}

	&_icon {
		color: $color-red !important;
		font-size: 13px !important;
	}

	&_text {
		margin-left: 5px;
		color: $color-red;
		@include font(0.75rem);
	}
}
