@import '../../../assets/styles/variables';
@import '../../../assets/styles/mixins';

.FieldError {
	@include flex($align-items: center);

	&_icon {
		color: $color-red !important;
		font-size: 13px !important;
	}

	&_text {
		margin-left: 5px;
		color: $color-red;
		@include font(0.75rem);
	}
}
