@use 'assets/styles/' as *;

.FieldError {
	margin: 0.25em 0;
	@include flex($align-items: center);

	&_icon {
		color: $color-red !important;
		font-size: 13px !important;
	}

	&_text {
		margin-left: 5px;
		color: $color-red;
		@include font(0.75rem);
	}
}
