@import '../../assets/styles/main';

.TableNormal {
	width: 100%;
	overflow-y: auto;

	table {
		width: 100%;

		thead {
			th {
				position: sticky;
				top: 0;
				padding: 25px 15px;
				@include font(1rem, bold);
				color: $color-dark;
				background-color: $color-main-background;
			}
		}

		tbody {
			td {
				@include font(1rem, 600);
				padding: 10px 15px;
				color: $color-dark-gray;

				a {
					color: $color-link !important;
				}
			}
		}
	}

	&.page {
		table {
			thead {
				th {
					padding-left: 25px !important;
					padding-right: 25px !important;
				}
			}

			tbody {
				td {
					padding-left: 25px !important;
					padding-right: 25px !important;
				}
			}
		}
	}
}
