@import '../../../assets/styles/main';

.SalesTotalCard {
	margin: 0;
	border: 1px solid $color-gray;
	box-shadow: none;

	&_container {
		@include flex(space-between, center);
		padding: 20px 25px;
	}

	&_title {
		@include font(1.25rem, bold);
		margin: 0;
		color: $color-dark;
		flex: 1;
	}

	&_description {
		@include font(1rem, 400);
		color: $color-dark-gray;
	}

	&_total {
		@include font(1.5rem, bold);
		color: $color-primary;
	}
}
