@import '../../../assets/styles/main';

.Users {
}

.AssignUsers {
	.details {
		padding: 25px 25px 0 25px;
	}

	.cashiering-assignments {
		padding: 0 25px 10px 25px;
	}

	.btn-assign.disabled {
		opacity: 0.4 !important;
		background-color: rgba(0, 0, 0, 0.1) !important;
	}

	.machine-selection {
		display: flex;

		.select {
			margin-right: 8px;
		}

		button {
			flex-shrink: 0;
		}
	}
}
