@import '../../../assets/styles/main';

.AssignUsers {
	&_btnAssign__disabled {
		opacity: 0.4 !important;
		background-color: rgba(0, 0, 0, 0.1) !important;
	}

	&_machineSelection {
		display: flex;

		&_select {
			margin-right: 8px;
		}

		button {
			flex-shrink: 0;
		}
	}
}
