@use 'assets/styles/' as *;

.FieldWarning {
	@include flex($align-items: center);
	margin: 4px 0;

	&__spaceTop {
		margin-top: 8px;
	}

	&__spaceBottom {
		margin-bottom: 8px;
	}

	&_icon {
		color: $color-secondary !important;
		font-size: 13px !important;
	}

	&_text {
		margin-left: 5px;
		color: $color-secondary;
		@include font(0.75rem);
	}
}
