@import '../../../assets/styles/main';

.CreateEditProduct {
	&_carryOverCheckbox {
		margin: 5px;

		.ant-checkbox + span {
			display: block;
			color: $color-dark-gray;
			@include font(0.875rem, bold);
		}
	}
}

.EditPriceCostModal {
	.form {
		.header {
			display: flex;
			align-items: center;
			margin-bottom: 8px;

			.branch-name {
				margin: 0 8px 0 0;
			}
		}
	}
}

.Products {
	&_table {
		margin-top: 25px;
	}
}
