@import '../../../assets/styles/main';

.CreateEditProduct {
	&_carryOverCheckbox {
		margin: 5px;

		.ant-checkbox + span {
			display: block;
			color: $color-dark-gray;
			@include font(0.875rem, bold);
		}
	}
}
