@import '../../../assets/styles/main';

.CreateEditProductModal {
	.custom-field-error {
		padding-left: 10px;
		margin-top: 0 !important;
	}
}

.EditPriceCostModal {
	.form {
		.header {
			display: flex;
			align-items: center;
			margin-bottom: 8px;

			.branch-name {
				margin: 0 8px 0 0;
			}
		}
	}
}

.Products {
	&_table {
		margin-top: 25px;
	}
}
