@import '../../assets/styles/main';

.KeyboardButton {
	padding: 0;
	margin: 0;
	border: 0;
	background-color: transparent;
	cursor: pointer;

	display: flex;
	align-items: center;

	.key {
		font-weight: bold;
		padding: 3px 5px;
		background-color: white;
		border-radius: 6px;
		-webkit-box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.1);
		-moz-box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.1);
		box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.1);
		margin-right: 5px;
	}

	.label {
	}
}
