@use 'assets/styles/' as *;

.NotificationItem {
	.Box {
		border-radius: $border-radius;
		margin-bottom: 8px;
		padding: 8px;
		box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
			rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
	}

	.title {
		display: block;
	}

	.datetime {
		margin-top: 5px;
		display: block;
		color: $color-orange;
		font-size: 0.75rem;
	}
}
