@import '../../../assets/styles/main';

.Branches {
	.header {
		@include flex(flex-end, center);
		padding: 25px;
	}
}

.ViewBranch {
	.ant-tabs-nav {
		margin: 0 !important;
	}

	.TableHeader {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}

	.ViewBranchDays {
		.branch-day-column {
			.first-row {
				margin-bottom: 6px;
			}

			.label {
				font-weight: bold;
				width: 50px;
				display: inline-block;
			}

			.value {
				font-weight: 400;
			}
		}
	}

	.ViewBranchSessions {
		.branch-session-column {
			.first-row {
				margin-bottom: 6px;
			}

			.label {
				font-weight: bold;
				width: 50px;
				display: inline-block;
			}

			.value {
				font-weight: 400;
			}
		}
	}

	.ViewBranchProducts {
		&_filter {
			margin-bottom: 2em;
		}
	}

	.ViewBranchCheckings {
		&_filter {
			margin-bottom: 2em;
		}
	}

	.ViewBranchTransactions {
		&_filter {
			margin-bottom: 2em;
		}
	}
}

.AddBranchProductBalance {
	.FormInput {
		font-size: 30px;
		text-align: center;
	}
}

.TransactionsCancelled {
	box-shadow: none;
	border: 1px solid $color-gray;

	&_container {
		@include flex(space-between, center);
		padding: 20px 25px;
	}

	&_title {
		@include font(1.25rem, bold);
		margin: 0;
		color: $color-dark;
		flex: 1;
	}

	&_date {
		color: $color-dark-gray;
		font-size: 18px;
	}
}
