@import '../../../assets/styles/mixins';

.ViewTransactionModal {
	&_label {
		@include font(20px, bold);
		text-align: center;
	}

	&_value {
		&___center {
			display: block;
			text-align: center;
		}
	}
}
