@use 'assets/styles/' as *;

.Login {
	height: 100vh;
	@include flex(center, center);

	.container {
		width: 450px;
		padding: 2.5rem;
		@include flex(center, center, column);

		.logo {
			width: 80%;
			margin-bottom: 2.5rem;
		}
	}
}
