@use 'assets/styles/' as *;

.ViewDeliveryReceipt {
	.details {
		padding: 25px 25px 0 25px;
	}

	.received-products {
		padding: 0 25px 10px 25px;
	}
}

.ViewRequisitionSlip {
	&_details {
		padding: 25px 25px 0 25px;
	}

	&_requestedProducts {
		padding: 0 25px 10px 25px;
	}
}

.SetOutOfStockModal {
	&_space {
		width: 100%;
	}
}
