@import '../../../assets/styles/main';

.ViewRequisitionSlip {
	&_details {
		padding: 25px 25px 0 25px;
	}

	&_requestedProducts {
		padding: 0 25px 10px 25px;
	}
}
.CreateRequisitionSlip {
	&_pagination {
		@include flex(center, center);
		margin: 15px 0 0 0;
	}

	&_createContainer {
		padding: 0 25px 25px 25px;
	}

	&_btnCreate {
		display: block;
		margin-left: auto;
		width: 150px;
	}
}
