@import '../../../assets/styles/main';

.RequisitionSlips {
	&_filter {
		margin-bottom: 2em;
	}
}

.ViewRequisitionSlip {
	&_requestedProducts {
		padding: 0 25px 10px 25px;
	}
}

.CreateRequisitionSlip {
	&_createContainer {
		padding: 0 25px 25px 25px;
	}

	&_btnCreate {
		display: block;
		margin-left: auto;
		width: 150px;
	}

	&_addedProductsCount {
		margin-bottom: 10px;
	}

	&_filter {
		margin-bottom: 2em;
	}
}
