@import '../../../assets/styles/variables';

.Box {
	margin-bottom: 30px;
	background-color: white;
	border-radius: $border-radius-lg;
	box-shadow: 0px 4px 10px 4px rgba(0, 0, 0, 0.02);
	overflow: hidden;
}
