@import '../../../assets/styles/main';

.Sidebar {
	height: 100vh;
	padding: 30px 30px 50px 30px;
	position: fixed !important;
	left: 0;
	background-color: white;
	overflow: 'auto';

	&.collapsed {
		padding: 0 !important;
	}

	.ant-layout-sider-zero-width-trigger {
		@include flex(center, center);
		width: 30px;
		height: 30px;
		top: 34px;
		right: -28px;
		box-shadow: 0px 4px 10px 4px rgba(0, 0, 0, 0.02);
	}

	.ant-layout-sider-children {
		@include flex($direction: column);
	}

	.logo {
		width: 200px;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	.sidebar-items {
		margin-top: 20px;

		.item {
			position: relative;
			@include flex($align-items: center);
			padding: 10px 0;
			margin: 30px 0;
			transition: 300ms;

			&.active {
				.icon {
					display: none;

					&.icon-active {
						display: block;
					}
				}

				.name {
					color: $color-primary;
					font-weight: bold;
				}
			}

			.icon {
				margin-right: 15px;

				&.icon-active {
					display: none;
				}
			}
			.name {
				@include font(16px, 600);
				color: $color-dark-gray;
			}
		}
	}

	.user-details {
		@include flex($align-items: center);
		width: 100%;
		padding: 10px 15px;
		margin-top: auto;
		border-radius: $border-radius-lg;
		background-color: $color-main-background;
		cursor: pointer;

		&:hover {
			opacity: 0.7;
			transition: 300ms;
		}

		.avatar {
			width: 40px;
			height: 40px;
			border-radius: 50%;
			margin-right: 15px;
			border: 2px solid $color-secondary;
		}

		.user-text-info {
			flex: 1;

			.name {
				display: block;
				width: 130px;
				@include font(17px, bold);
				color: $color-dark;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}

			.role {
				width: 130px;
				display: block;
				margin-top: 3px;
				@include font(15px, 500);
				color: $color-secondary;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
	}
}
