@use 'assets/styles/' as *;

.ColoredText {
	@include font(1rem, 600);
	color: $color-dark-gray;

	&___primary {
		color: $color-primary;
	}

	&___secondary {
		color: $color-secondary;
	}

	&___error {
		color: $color-red;
	}

	&___small {
		@include font(0.8rem, 600);
	}
}
