@import '../../../assets/styles/variables';

.Input {
	width: 100%;
	padding: 8px 12px;
	color: $color-dark;
	font-size: 16px;
	border: 1px solid $color-gray;
	border-radius: $border-radius;
	outline: 0 !important;
	display: block;
}
