@use 'assets/styles/' as *;

.ViewPreparationSlip {
	.details {
		padding: 25px 25px 0 25px;
	}

	.requested-products {
		padding: 0 25px 10px 25px;
	}
}

.FulfillPreparationSlip {
	&_keyboardKeys {
		display: grid;
		grid-template-columns: 120px 140px;
		column-gap: 20px;
	}

	&_productName {
		display: flex;
		align-items: center;

		span {
			margin-left: 8px;
		}
	}

	&_btnActions {
		display: grid;
		grid-template-columns: 150px 150px;
		column-gap: 20px;
		justify-content: end;
	}
}

.FulfillSlipModal {
	&_keyboardKeys {
		display: grid;
		grid-template-columns: 120px 140px;
		column-gap: 20px;
	}

	&_inputQuantity {
		margin-top: 20px;

		input {
			text-align: center;
		}
	}
}
