@use 'assets/styles/' as *;

.BackOrders {
	&_tabs {
		padding-top: 0;
	}
}

.CreateBackOrder {
	&_createContainer {
		padding: 0 25px 25px 25px;
	}

	&_btnCreate {
		display: block;
		margin-left: auto;
		width: 150px;
	}

	&_addedProductsCount {
		margin-bottom: 10px;
	}
}
