@use 'assets/styles' as *;

.ProductSearch {
	position: relative;

	&_input {
		height: 100%;
		border-radius: $border-radius;
		padding: 20px 30px;
		font-size: 30px;
		background-color: $color-main-background;
		box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
	}

	&_btnClear {
		font-size: 35px;
		position: absolute;
		top: 25px;
		right: 30px;
		color: $color-red !important;
		cursor: pointer;
	}

	&_suggestion {
		max-height: 450px;
		background-color: white;
		border: 1px solid $color-gray;
		box-shadow: 0px 4px 10px 4px rgba(0, 0, 0, 0.02);
		border-radius: $border-radius;
		position: absolute;
		width: 100%;
		z-index: 999;

		&_wrapper {
			padding: 1.25em;
			@include flex(stretch, center);
			column-gap: 1.5em;
			outline: 1;
			cursor: pointer;

			&:not(:last-child) {
				border-bottom: 1px solid $color-gray;
			}

			&:first-child {
				border-top-left-radius: 10px;
				border-top-right-radius: 10px;
			}

			&:last-child {
				border-bottom-left-radius: 10px;
				border-bottom-right-radius: 10px;
			}

			&___active {
				background-color: $color-primary;

				.badge {
					border: 1px solid $color-gray !important;
					background-color: white;
				}

				.ProductSearch_suggestion_product_name,
				.ProductSearch_suggestion_product_code,
				.ProductSearch_suggestion_product_price {
					color: white;
				}
			}

			.badge {
				font-size: 1rem;
			}

			p {
				margin-bottom: 0;
			}
		}

		&_product {
			&_name {
				@include font(2rem, 700);
				color: $color-dark;
			}

			&_code {
				margin-top: 8px;
				@include font(1rem, 400);
				color: $color-dark-gray;
			}

			&_price {
				margin-left: auto;
				@include font(1.5rem, 700);
				color: $color-dark;
			}
		}
	}
}

.ProductSearchV2 {
	display: flex;

	&_wrapper {
		position: relative;
		flex: 1;
	}

	.ProductSearch_input {
		height: 100%;
	}

	.ProductSearchV2_btnTextcode {
		margin-left: 15px;
	}
}
