@import '../../../assets/styles/main';

.Dashboard {
	.site-settings-container {
		.title {
			margin-bottom: 0;
			@include font(20px, bold);
		}

		.column-close-day-deadline {
			margin-top: 15px;
		}

		.btn-submit-site-settings {
			margin-top: 20px;
		}
	}
}
