@import '../../../assets/styles/main';

.TableHeader {
	@include flex($align-items: center);
	padding: 25px;

	.title {
		@include font(1.25rem, bold);
		margin: 0;
		color: $color-dark;
		flex: 1;
	}

	.controls {
		@include flex(space-between, center);
		button {
			margin-left: 15px;
		}

		&.no-title {
			flex: 1;
		}

		&.only-button {
			@include flex(flex-end, center);
		}

		.search-input {
			margin-right: 10px;
		}

		.status-select {
			margin-right: auto;
		}
	}
}
