@import '../../../assets/styles/main';

.FormRadioButton {
	@include flex();

	&_button {
		@include flex(center, center);
		flex: 1;
		width: 100%;
		padding: 12px 20px;
		position: relative;
		@include font(1rem);
		color: $color-dark;
		border-radius: $border-radius;
		background-color: white;
		border: 1px solid $color-gray;
		cursor: pointer;
		transition: background-color 300ms linear;

		&:not(:last-child) {
			margin-right: 15px;
		}

		&__disabled {
			background-color: $color-gray;
			pointer-events: none;
		}

		&__checked {
			background-color: $color-secondary;
			border: 1px solid $color-secondary;
			font-weight: bold;
			color: white;

			&__disabled {
				background-color: $color-dark-gray;
				border: 0;
			}
		}

		&_checkIcon {
			position: absolute;
			left: 20px;
		}
	}
}
