@import '../../assets/styles/main';

.Icon {
	@include flex(center, center);
	height: 20px;
	width: 20px;
	border-radius: 50%;

	&.empty {
		border: 1px solid $color-dark-gray;
		background-color: transparent;
	}

	&.primary {
		border: 1px solid $color-primary;
		background-color: $color-primary;
	}

	&.error {
		border: 1px solid $color-red;
		background-color: $color-red;
	}

	&.small {
		height: 14px;
		width: 14px;

		img {
			height: 8px;
			width: 8px;
		}
	}
}
