@import '~antd/dist/antd.css';
@import './assets/styles/main';
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap');

html,
body {
	max-width: 100%;
	overflow-x: hidden;
}

body {
	background-color: $color-main-background;
	font-family: $font-primary;
	color: $color-dark;
}

.ml-10 {
	margin-left: 10px;
}

.mr-10 {
	margin-right: 10px;
}

.ant-modal-root {
	.ant-modal {
		margin-top: 25px;
	}

	.ant-modal.modal-large {
		width: 100% !important;
		min-width: 350px !important;
		max-width: 1100px !important;

		.ant-modal-content {
			margin: 25px;
			border-radius: 10px;
			max-height: 85vh;
			overflow: hidden;

			.ant-modal-body {
				overflow-y: auto;
				max-height: 70vh;
			}
		}
	}

	.custom-footer {
		@include flex($justify-content: flex-end);
	}
}

.swal-button--confirm {
	background-color: $color-primary;
	@include font(1rem, 700);

	&:hover {
		background-color: $color-primary !important;
		transition: 300ms;
		box-shadow: 0px 5px 20px 3px $color-primary-08;
	}
}

.swal-button--cancel {
	@include font(1rem, 700);
}

.quantity-container {
	@include flex();

	& > *:first-child {
		margin-right: 8px;
	}

	select {
		width: 80px;
		font-size: 12px;
	}
}

.table-pagination {
	@include flex(center, center);
	padding: 20px 0;
	font-family: $font-primary;
}
