@import '~antd/dist/antd.css';
@import '~antd-css-utilities/utility.min.css';
@import './assets/styles/main';
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap');

html,
body {
	max-width: 100%;
	overflow-x: hidden;
}

body {
	background-color: $color-main-background;
	font-family: $font-primary !important;
	color: $color-dark;
}

.GlobalSpinner {
	width: 100vw;
	height: 100vh;
	max-height: unset !important;
	@include flex(center, center, column);
}

.PaddingHorizontal {
	padding-left: 25px;
	padding-right: 25px;
}

.PaddingVertical {
	padding-top: 25px;
	padding-bottom: 25px;
}

.ant-modal-root {
	.ant-modal {
		margin-top: 25px;

		.ant-modal-header {
			.ant-modal-title {
				position: relative;

				.ModalTitleMainInfo {
					position: absolute;
					left: 0;
					right: 0;
					text-align: center;
					font-weight: bold;
				}
			}
		}

		.ant-modal-body {
			padding-bottom: 100px;
		}

		&.Modal {
			&__large {
				width: 100% !important;
				min-width: 350px !important;
				max-width: 1100px !important;

				.ant-modal-content {
					margin: 25px;
					border-radius: 10px;
					max-height: 85vh;
					overflow: hidden;

					.ant-modal-body {
						overflow-y: auto;
						max-height: 70vh;
					}
				}
			}

			&__hasFooter {
				.ant-modal-body {
					padding-bottom: 24px !important;
				}
			}
		}
	}

	.ModalCustomFooter {
		padding: 1em 1.5em;
		position: absolute;
		z-index: 1;
		bottom: 0;
		left: 0;
		right: 0;
		border-top: 1px solid #f0f0f0;
		background: white;
		box-shadow: 0px -4px 7px 2px rgba(0, 0, 0, 0.04);

		@include flex($justify-content: flex-end);
		column-gap: 1em;

		&___withFooterTitle {
			@include flex(space-between, center);
		}

		.ModalTitleMainInfo {
			font-weight: bold;
		}
	}
}

.swal-button--confirm {
	background-color: $color-primary;
	@include font(1rem, 700);

	&:hover {
		background-color: $color-primary !important;
		transition: 300ms;
		box-shadow: 0px 5px 20px 3px $color-primary-08;
	}
}

.swal-button--cancel {
	@include font(1rem, 700);
}

.QuantityContainer {
	@include flex();

	& > *:first-child {
		margin-right: 8px;
	}

	select {
		width: 80px;
		font-size: 12px;
	}
}

.ant-divider.ant-divider-with-text {
	&::before,
	&::after {
		top: 0 !important;
	}
}

.row-dragging {
	background: #fafafa;
	border: 1px solid #ccc;

	td {
		padding: 16px;
	}

	.drag-visible {
		visibility: visible;
	}
}
