@use 'assets/styles/' as *;

.ButtonIcon {
	width: 35px;
	height: 35px;
	padding: 0;
	background-color: white;
	border-radius: $border-radius;
	border: 2px solid $color-gray;
	display: block;
	cursor: pointer;

	&.block {
		display: block;
		width: 100%;
	}

	&.loading {
		opacity: 0.8;
		pointer-events: none;
	}

	&.disabled {
		background-color: $color-dark-gray !important;
		border: 0 !important;
		box-shadow: none !important;
		opacity: 0.5;
		pointer-events: none;

		img {
			filter: saturate(0%) brightness(70%) contrast(1000%);
		}
	}
}
