@font-face {
	font-family: 'Roboto';
	font-weight: 300;
	src: local('Roboto'), url(../fonts/Roboto-Light.ttf) format('truetype');
}

@font-face {
	font-family: 'Roboto';
	font-weight: 400;
	src: local('Roboto'), url(../fonts/Roboto-Regular.ttf) format('truetype');
}

@font-face {
	font-family: 'Roboto';
	font-weight: 500;
	src: local('Roboto'), url(../fonts/Roboto-Medium.ttf) format('truetype');
}

@font-face {
	font-family: 'Roboto';
	font-weight: 600;
	src: local('Roboto'), url(../fonts/Roboto-Medium.ttf) format('truetype');
}

@font-face {
	font-family: 'Roboto';
	font-weight: 700;
	src: local('Roboto'), url(../fonts/Roboto-Bold.ttf) format('truetype');
}

@font-face {
	font-family: 'Roboto';
	font-weight: 900;
	src: local('Roboto'), url(../fonts/Roboto-Black.ttf) format('truetype');
}

@font-face {
	font-family: 'Roboto';
	font-weight: 300;
	font-style: italic;
	src: local('Roboto'), url(../fonts/Roboto-LightItalic.ttf) format('truetype');
}

@font-face {
	font-family: 'Roboto';
	font-weight: 400;
	font-style: italic;
	src: local('Roboto'), url(../fonts/Roboto-Italic.ttf) format('truetype');
}

@font-face {
	font-family: 'Roboto';
	font-weight: 500;
	font-style: italic;
	src: local('Roboto'), url(../fonts/Roboto-MediumItalic.ttf) format('truetype');
}

@font-face {
	font-family: 'Roboto';
	font-weight: 600;
	font-style: italic;
	src: local('Roboto'), url(../fonts/Roboto-MediumItalic.ttf) format('truetype');
}

@font-face {
	font-family: 'Roboto';
	font-weight: 700;
	font-style: italic;
	src: local('Roboto'), url(../fonts/Roboto-BoldItalic.ttf) format('truetype');
}

@font-face {
	font-family: 'Roboto';
	font-weight: 900;
	font-style: italic;
	src: local('Roboto'), url(../fonts/Roboto-BlackItalic.ttf) format('truetype');
}
