@import './variables';

@mixin box-shadow($top, $left, $blur, $color) {
	-webkit-box-shadow: $top $left $blur $color;
	-moz-box-shadow: $top $left $blur $color;
	box-shadow: $top $left $blur $color;
}

@mixin transform($transforms) {
	-moz-transform: $transforms;
	-o-transform: $transforms;
	-ms-transform: $transforms;
	-webkit-transform: $transforms;
	transform: $transforms;
}

@mixin transition($transition...) {
	-moz-transition: $transition;
	-o-transition: $transition;
	-webkit-transition: $transition;
	transition: $transition;
}

@mixin selection {
	::-moz-selection {
		@content;
	}

	::selection {
		@content;
	}
}

@mixin mobile {
	@media (max-width: 599px) {
		@content;
	}
}

@mixin tablet {
	@media (min-width: 600px) {
		@content;
	}
}

@mixin tablet-landscape {
	@media (min-width: 900px) {
		@content;
	}
}

@mixin desktop {
	@media (min-width: 1200px) {
		@content;
	}
}

@mixin desktop-large {
	@media (min-width: 1400) {
		@content;
	}
}

@mixin breakpoint-down($width) {
	@media only screen and (max-width: $width) {
		@content;
	}
}

@mixin breakpoint-up($width) {
	@media only screen and (min-width: $width) {
		@content;
	}
}

@mixin breakpoint-between($width1, $width2) {
	@media only screen and (min-width: $width1) and (max-width: $width2) {
		@content;
	}
}

@mixin clearfix {
	&:after {
		content: '';
		display: table;
		clear: both;
	}
}

@mixin simple-shadow {
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

@mixin blurry-shadow {
	box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.08);
}

@mixin clear-spacing {
	padding: 0;
	margin: 0;
}

@mixin element-center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

@mixin flex($justify-content: stretch, $align-items: stretch, $direction: row) {
	display: flex;
	align-items: $align-items;
	justify-content: $justify-content;
	flex-direction: $direction;
}

@mixin font($size: 16px, $weight: normal, $family: $font-primary) {
	font-family: $font-primary;
	font-weight: $weight;
	font-size: $size;
	line-height: 100%;
}
