// Font
$font-primary: 'Nunito';

// Colors
$color-main-background: #f5f6fa;
$color-primary: #20bf6b;
$color-primary-05: rgba(151, 200, 135, 0.5);
$color-primary-08: rgba(151, 200, 135, 0.8);
$color-primary-light: #26de81;
$color-secondary: #f7b731;
$color-secondary-05: rgba(255, 159, 91, 0.5);
$color-secondary-08: rgba(255, 159, 91, 0.8);
$color-secondary-light: #fed330;
$color-dark: rgba(35, 37, 46, 0.85);
$color-dark-gray: #878ea2;
$color-gray: #ececec;
$color-gray-light: #fafbff;
$color-red: #fc5c65;
$color-link: #2cabe3;

// Border Radius
$border-radius: 4px;
$border-radius-md: 8px;
$border-radius-lg: 15px;
