@import '../../../assets/styles/main';

.Main {
	.site-layout {
		background: $color-main-background;
		margin-left: 280px;

		.site-layout-background {
			height: auto;
			padding: 0;
			background: transparent;
		}
	}

	.page-header {
		@include flex($justify-content: space-between);
		padding: 35px 30px 30px 30px;

		.page-title {
			@include flex(center, center);
			@include font(1.875rem, 800);
			margin: 0;

			.icon-info {
				margin-left: 10px;
				cursor: pointer;
			}
		}
	}

	.page-content {
		padding: 0 30px;
	}
}
