@import '../../assets/styles/main';

.CashieringCard {
	&__bordered {
		box-shadow: none;
		border: 1px solid $color-gray;
	}

	&_container {
		@include flex(space-between, center);
		padding: 20px 25px;
	}

	&_title {
		@include font(1.25rem, bold);
		margin: 0;
		color: $color-dark;
		flex: 1;
	}

	&_date {
		color: $color-dark-gray;
		font-size: 18px;
	}
}
